body
	padding 60px 0 0 0

.panel-holder
	.panel
		display none
	&.panel-open-active-games .panel.panel-active-games
		display block
	&.panel-open-invitations .panel.panel-invitations
		display block
	&.panel-open-open-games .panel.panel-open-games
		display block
	&.panel-open-game-archive .panel.panel-game-archive
		display block
	&.panel-open-all-users .panel.panel-all-users
		display block
